body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container{
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h2{
    text-align: center;
    margin-bottom: 20px;
}

.campo{
    margin-bottom: 15px;
    display:grid;
    flex-direction: column;
}

.campo label{
    margin-bottom: 5px;

}
.campo input[type="text"],
.campo input[type="email"],
.campo textarea{
    padding: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.campo button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.campo button:hover{
    background-color: #0056b3;
}

@media(max-width:768px){
    .container{
        width: 95%;
        max-width: none;
    }
}